@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --searching-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;


}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: 0;
    text-decoration: none;
    border: none;
    list-style: none;
}

body{
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.profile-picture{
   width: 2.7rem;
   aspect-ratio: 1/1;
   border-radius: 50%;
   overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--color-primary);
    color: #fff;
}

.text-bold{
    font-size: 500;
}

.text-muted{
    color: var(--color-gray);
}


/*==========================NAVBAR==================*/

nav{
    width: 100%;
    background: #fff;
    padding: 0.7rem 0;
    position: fixed;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--searching-padding);
}

nav .search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}
nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}

/*---------------MAIN----------------*/

main{
    position: relative;
    top: 5.4rem;
}

main .container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/*================LEFT============*/

main .container .left-side{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left-side .profile{
    padding: var(--card-padding);
    background: #fff;
    border-radius: var(--card-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
} 

/*--------SIDEBAR CSS-----*/

.left-side .sidebar{
    margin-top: 1rem;
    background: #fff;
    border-radius: var(--card-radius);
    position: relative;
   
}
.left-side .sidebar .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left-side .sidebar .menu-item:hover{
    background: var(--color-light);
}

.left-side .sidebar i{
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left-side .sidebar .menu-item i .notifications-count{
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left-side .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left-side .sidebar .active{
    background: var(--color-light);
}

.left-side .sidebar .active i, 
.left-side .sidebar .active h3{
    color: var(--color-primary);
}

.left-side .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left-side .sidebar .menu-item:first-child.active{
    border-top-left-radius: var(--card-radius);
    overflow: hidden;
}
.left-side .sidebar .menu-item:last-child{
    border-bottom-left-radius: var(--card-radius);
    overflow: hidden;
}

.left-side .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/*==================NOTIFICATION POP UP========*/


.left-side .notifications-pop{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: #fff;
    border-radius: var(--card-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
    z-index: 8;
    display: none;
    
}

.left-side .notifications-pop::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: #fff;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left-side .notifications-pop > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left-side .notifications-pop small{
    display: block;
}

/*====================Middle SIDES=================*/

.center-side .stories{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.center-side .stories .story{
    padding: var(--card-padding);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.75rem;
    width: 100%;
    /* background: var(--color-danger); */
    position: relative;
    overflow: hidden;
}
.center-side .stories .story::before{
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    
    position: absolute;
    bottom: 0;
}

.center-side .stories .story .name{
    z-index: 2;
}

.center-side .stories .story:nth-child(1){
    background: url("/images/imara.jpg") no-repeat center center;
    background-size: cover;
}
.center-side .stories .story:nth-child(2){
    background: url("/images/nafula.jpg") no-repeat center center;
    background-size: cover;
}
.center-side .stories .story:nth-child(3){
    background: url("/images/jackie-2.jpg") no-repeat center center;
    background-size: cover;
}
.center-side .stories .story:nth-child(4){
    background: url("/images/celia.jpg") no-repeat center center;
    background-size: cover;
}
.center-side .stories .story:nth-child(5){
    background: url("/images/kabambe.jpg") no-repeat center center;
    background-size: cover;
}
.center-side .stories .story:nth-child(6){
    background: url("/images/katete.jpg") no-repeat center center;
    background-size: cover;
}

.center-side .stories .profile-picture{
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 3px solid var(--color-primary);
}

.center-side .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: #fff;
    padding: 0.4rem var(--card-padding);
    border-radius: var(--card-radius);
}

.center-side .create-post input[type="text"]{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

/* ---------------------FEEDS------------------- */

.center-side .feeds .feed{
    background: #fff;
    border-radius: var(--card-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.center-side .feed .head{
    display: flex;
    justify-content: space-between;
}

.center-side .feed .user{
    display: flex;
    gap: 1rem;
}

.center-side .feed .photo{
   border-radius: var(--card-radius); 
   overflow: hidden;
   margin: 0.7rem 0;
}

.center-side .feed .action-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.center-side .liked-by{
    display: flex;
}

.center-side .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin-left: -0.6rem;
}
.center-side .liked-by span:first-child{
    margin: 0;
}

.center-side .liked-by p{
    margin-left: 0.5rem;
}


/*==================Right Side=================*/

main .container .right-side{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}